[Desktop Entry]
Name=Visual Studio Code
Comment=Programming Text Editor
Exec=/home/chodges/Applications/VSCode-linux-x64/bin/code
Icon=/home/chodges/Applications/VSCode-linux-x64/resources/app/resources/linux/code.png
Terminal=false
Type=Application
Categories=Programming;
StartupWMClass=Code